.footer {
  border-top: 4px solid #7d7d7d;
  letter-spacing: 2px;
  @media screen and (max-width:768px) {
    margin-top: 155px;
  }

  @media screen and (max-width:480px) {
    margin-top: 90px;
  }
  a {
    color: white;
  }
  .wrap {
    max-width: 1920px;
    margin: auto;
    padding: 0 60px;

    @media screen and (max-width:768px) {
      padding: 0 20px;
    }

    .footer-content {
      display: flex;
      padding: 40px 0px 100px 0px;

      @media screen and (max-width:768px) {
        flex-direction: column;
        padding: 40px 10px 70px 10px;
        text-align: center;
      }

      .left-side {
        width: 50%;

        @media screen and (max-width:768px) {
          width: 100%;
        }

        .copyright {
          img {
            width: 60px;
          }

          .title {
            font-family: 'NeoSansCyrLight';
            font-size: 16px;
            color: white;
            margin-top: 10px;
          }
        }
      }

      .right-side {
        width: 50%;

        @media screen and (max-width:768px) {
          width: 100%;
        }

        .info {
          color: white;
          display: flex;
          padding-left: 130px;
          @media screen and (max-width:1600px) {
            flex-direction: column;
          }
          @media screen and (max-width:768px) {
            padding-left: 0;
            flex-direction: column-reverse;
          }

          span {
            background: #8abe4b;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            padding: 7px;
            margin-right: 10px;
          }

          .phone {
            margin-right: 120px;

            @media screen and (max-width:768px) {
              margin-right: 0;
              margin-top: 40px;
            }

            .phone-title {
              font-family: 'NeoSansCyrLight';
              font-size: 16px;
              padding-bottom: 22px;
              width: max-content;
              @media screen and (max-width:768px) {
                margin: auto;
              }
              
            }

            .phone-value {
              font-family: 'NeoSansCyrMedium';
              font-size: 28px;
              width: max-content;
              @media screen and (max-width:768px) {
                margin: auto;
              }
              @media screen and (max-width:480px) {
                font-size: 26px;
              }
            }
            
          }

          .email {
            .email-title {
              @media screen and (max-width:1600px) {
                margin-top: 45px;
              }
              font-family: 'NeoSansCyrLight';
              font-size: 16px;
              padding-bottom: 22px;
            }

            .email-value {
              font-family: 'NeoSansCyrMedium';
              font-size: 28px;
            }

          }
        }
      }
    }
  }
}