.media {
    margin-bottom: 145px;
    // overflow-x: hidden;
    .slick-track {
        overflow: hidden;
    }
    .slick-list.draggable {
        overflow: hidden;
    }
    .wrap {
        max-width: 1920px;
        margin: auto;
        padding: 0 60px;
        .media-slider.slick-initialized.slick-slider {
            @media screen and (min-width:1025px) {
                margin-right: -100px;
            }
    
            @media screen and (max-width:1024px) {
                margin-right: 0;
            }
        }
        @media screen and (max-width:768px) {
            padding: 0 20px;
        }

        @media screen and (max-width:480px) {
            padding: 0 10px;
        }

        .media-content {
            .title {
                color: white;
                font-family: 'NeoSansCyrMedium';
                font-size: 52px;
                text-align: left;
                padding-bottom: 50px;
                padding-left: 20px;

                @media screen and(max-width:768px) {
                    text-align: center;
                }
            }

            .media-slider {
                .slider-item {
                    display: flex;

                    .slider-item-content {
                        display: flex;

                        @media screen and (max-width:1360px) {
                            flex-wrap: wrap;
                        }

                        .left-side {
                            height: 275px;

                            @media screen and (max-width:1600px) {
                                height: 225px;

                                img {
                                    height: 100%;
                                }
                            }

                            @media screen and (max-width:1440px) {
                                height: 125px;

                                img {
                                    height: 100%;
                                }
                            }

                            @media screen and (max-width:768px) {
                                height: 125px;

                                img {
                                    height: 100%;
                                }
                            }
                        }

                        .right-side {
                            background-color: #316229;
                            padding: 0 40px 0 60px;

                            @media screen and (max-width:480px) {
                                padding: 0 40px 0 40px;
                            }

                            .right-side-content {
                                height: 275px;
                                padding-top: 40px;

                                @media screen and(max-width:480px) {
                                    padding-bottom: 25px;
                                    padding-top: 30px;
                                    height: auto;
                                }

                                .date {
                                    color: white;
                                    font-family: 'NeoSansCyrRegular';
                                    font-size: 14px;
                                    padding-bottom: 35px;

                                    @media screen and(max-width:480px) {
                                        padding-bottom: 25px;
                                        font-size: 10px;
                                    }
                                }

                                .desc {
                                    color: white;
                                    font-family: 'NeoSansCyrLight';
                                    font-size: 16px;
                                    line-height: 20px;

                                    @media screen and(max-width:480px) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            .more-details {

                                // border-top: 1px solid white;
                                .border {
                                    width: 100%;
                                    height: 1px;
                                    display: flex;

                                    .left-border {
                                        width: 50%;
                                        border-bottom: 1px solid white;
                                        opacity: 0.5;
                                    }

                                    .right-border {
                                        width: 50%;
                                        border-bottom: 1px solid white;
                                    }
                                }

                                a {
                                    padding: 10px 0 40px 0;
                                    display: flex;
                                    justify-content: space-between;
                                    color: white;
                                    font-family: 'NeoSansCyrRegular';
                                    font-size: 16px;

                                    @media screen and(max-width:480px) {
                                        font-size: 12px;
                                    }

                                    p {
                                        text-transform: uppercase;
                                    }

                                    .right-arrow {
                                        width: 10px;
                                        height: 10px;
                                        border: 1px solid white;
                                        border-bottom: none;
                                        border-left: none;
                                        transform: rotate(45deg);
                                        -webkit-transform: rotate(45deg);
                                        -moz-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        -o-transform: rotate(45deg);
                                    }
                                }
                            }
                        }
                    }
                }

                .slick-current.slick-active {
                    opacity: 1;
                    transition: opacity 500ms ease;
                    -webkit-transition: opacity 500ms ease;
                    -moz-transition: opacity 500ms ease;
                    -ms-transition: opacity 500ms ease;
                    -o-transition: opacity 500ms ease;

                    .more-details {
                        display: block;
                    }
                }

                .slick-active {
                    opacity: 0.5;
                    transition: opacity 500ms ease;
                    -webkit-transition: opacity 500ms ease;
                    -moz-transition: opacity 500ms ease;
                    -ms-transition: opacity 500ms ease;
                    -o-transition: opacity 500ms ease;

                    .more-details {
                        display: none;
                    }
                }

                .slick-slide {
                    margin: 0 20px;

                    @media screen and (max-width:480px) {
                        margin: 0;
                    }
                }

                .circle-next,
                .circle-prev {
                    position: absolute;
                    bottom: -105px;
                    width: 60px;
                    height: 60px;
                    border: 1px solid #8abe4b;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transition: all 200ms;
                    -webkit-transition: all 200ms;
                    -moz-transition: all 200ms;
                    -ms-transition: all 200ms;
                    -o-transition: all 200ms;
                    cursor: pointer;
                }

                .circle-next:hover,
                .circle-prev:hover {
                    background-color: #8abe4b;
                    transition: all 200ms;
                    -webkit-transition: all 200ms;
                    -moz-transition: all 200ms;
                    -ms-transition: all 200ms;
                    -o-transition: all 200ms;
                }

                .circle-next:hover .slick-next,
                .circle-prev:hover .slick-prev {
                    border-color: white;
                    transition: all 200ms;
                    -webkit-transition: all 200ms;
                    -moz-transition: all 200ms;
                    -ms-transition: all 200ms;
                    -o-transition: all 200ms;
                }

                .circle-next {
                    left: calc(50% + 17px);
                    @media screen and (min-width:1024px) {
                        left: calc(50%);
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
}
                    .slick-next {
                        width: 18px;
                        height: 18px;
                        border: 2px solid #8abe4b;
                        background-color: unset;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        border-left: none;
                        border-bottom: none;
                        outline: none;
                        position: absolute;
                        top: 33%;
                        left: 30%;
                        cursor: pointer;
                    }
                }

                .circle-prev {
                    right: calc(50% + 17px);

                    @media screen and (min-width:1024px) {
                        right: calc(50% + 4%);
                       
                    }

                    .slick-prev {
                        width: 18px;
                        height: 18px;
                        border: 2px solid #8abe4b;
                        background-color: unset;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        border-right: none;
                        border-top: none;
                        outline: none;
                        position: absolute;
                        top: 33%;
                        right: 30%;
                        cursor: pointer;
                    }
                }

            }
        }
    }
}