.single-property .wrap {
  max-width: 1920px;
  margin: auto;
  padding: 0 60px;
}
@media screen and (max-width: 768px) {
  .single-property .wrap {
    padding: 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .single-property .wrap {
    padding: 0 10px;
  }
}
.single-property .wrap .single-property-content {
  max-width: 1134px;
  margin: auto;
}
.single-property .wrap .single-property-content .title {
  color: #85b749;
  font-family: "NeoSansCyrMedium";
  font-size: 32px;
  text-align: center;
  padding: 100px 0px;
  letter-spacing: 2px;
  max-width: 815px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .single-property .wrap .single-property-content .title {
    padding: 80px 0px 100px 0px;
    max-width: 635px;
  }
}
@media screen and (max-width: 480px) {
  .single-property .wrap .single-property-content .title {
    padding: 80px 00px 55px 0px;
  }
}
.single-property .wrap .single-property-content .single-property-list-wrap {
  background-color: #00010e;
  border-top: 40px solid #8abe4b;
}
@media screen and (max-width: 480px) {
  .single-property .wrap .single-property-content .single-property-list-wrap {
    margin: 0 -10px;
  }
}
.single-property
  .wrap
  .single-property-content
  .single-property-list-wrap
  .single-property-list {
  padding-bottom: 90px;
}
.single-property
  .wrap
  .single-property-content
  .single-property-list-wrap
  .single-property-list
  .item {
  border-left: 10px solid #8abe4b;
  margin-top: 90px;
  padding: 0 40px 0 90px;
  color: white;
  font-family: "NeoSansCyrRegular";
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .single-property
    .wrap
    .single-property-content
    .single-property-list-wrap
    .single-property-list
    .item {
    padding: 0 40px 0 30px;
    margin-top: 70px;
  }
}
@media screen and (max-width: 480px) {
  .single-property
    .wrap
    .single-property-content
    .single-property-list-wrap
    .single-property-list
    .item {
    margin-left: 10px;
    padding: 0 15px 0 30px;
  }
}
@media screen and (max-width: 360px) {
  .single-property
    .wrap
    .single-property-content
    .single-property-list-wrap
    .single-property-list
    .item {
    font-size: 18px;
  }
}
.single-property .wrap .payment {
  padding: 60px 0px 0px 0px;
}
@media screen and (max-width: 768px) {
  .single-property .wrap .payment {
    padding: 10px 0px 30px 0px;
  }
}
.single-property .wrap .payment .payment-logo {
  text-align: center;
}
.single-property .wrap .payment .payment-info {
  color: #8abe4b;
  font-family: "NeoSansCyrMedium";
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  line-height: 34px;
  letter-spacing: 2px;
}
@media screen and (max-width: 480px) {
  .single-property .wrap .payment .payment-info {
    letter-spacing: 1px;
  }
}
